@font-face {
  src: url('./assets/fonts/Latam_Sans_Black.ttf') format('truetype');
  font-family: 'Latam-Sans-Black';
}
@font-face {
  src: url('./assets/fonts/Latam_Sans_Bold.ttf') format('truetype');
  font-family: 'Latam-Sans-Bold';
}
@font-face {
  src: url('./assets/fonts/Latam_Sans_Light.ttf') format('truetype');
  font-family: 'Latam-Sans-Light';
}
@font-face {
  src: url('./assets/fonts/Latam_Sans_Regular.ttf') format('truetype');
  font-family: 'Latam-Sans-Regular';
}
* {
  font-family: 'Latam-Sans-Regular', serif !important;
  font-weight: normal;
}
div.spacer
{
  font-size: 0;
  height: 10px;
  line-height: 0;
}
/* Genesys Widget Configuration */
.cx-side-button-group .cx-side-button {
  position: relative;
  font-size: 20px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  width: 155px;
  height: 45px;
  text-align: center;
  border-radius: 5px;
}
.cx-webchat {
  width: 420px;
}
.cx-common-container .cx-titlebar {
  background-color: #1b0088;
}
.cx-title {
  color: #ffffff!important;
}
.cx-titlebar .cx-icon {
  display: none!important;
}
.cx-widget.cx-theme-light .cx-btn-primary {
  color: #FDFDFD;
  border-color: #ed1650!important;
  background: #ed1650;
  background: -moz-linear-gradient(top, #ed1650 0, #ed1650 100%);
  background: -webkit-linear-gradient(top, #ed1650, #ed1650);
  background: linear-gradient(180deg, #ed1650 0, #ed1650);
}
.cx-webchat .cx-transcript {
  height: 412px;
}
.cx-common-container .cx-buttons-window-control {
  font-size: 16px;
}
.cx-webchat .cx-transcript {
  font-size: 14px;
}

.cx-webchat div.cx-input-container .cx-message-input {
  font-weight: 400;
  font-size: 14px;
}
.cx-message-text {
  font-weight: 500;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.cx-widget label {
  font-weight: 800;
  font-size: 13px;
}

.cx-widget.cx-theme-light input[type=text] {
  font-weight: 800;
  font-size: 13px;
}

input[type=text] {
  font-weight: 800;
  font-size: 14px;
}

.cx-idle-alert {
  font-size: 15px!important;
  font-weight: 800;
}
.cx-webchat.cx-theme-light .cx-message.cx-them .cx-bubble {
  background-color: #F2F4F7;
}
.cx-webchat.cx-theme-light .cx-message.cx-them .cx-bubble-arrow svg * {
  fill: white;
}
.cx-name {
  color: #dae1e8
}
.cx-webchat .cx-transcript .cx-message .cx-name {
  color: #242424;
}

.survey-textarea {
  border-radius: 5px;
  margin: 5px 0 5px 0!important;
  border: 1px solid darkgray;
}

/* Survey */
.like,
.dislike {
  display: inline-block;
  cursor: pointer;
  margin: 5px;
}
.dislike:hover,
.like:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}
.active {
  color: #ed1650;
}
